.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-name {
    font-family: var(--font-header);
    color: #fff;
    margin-top: 40px;
    font-size: 1.5rem;
}

.card {
    font-weight: bold;
    padding: 1em;
    width:  300px;
    height: 400px;
    box-shadow: 0 1px 5px #00000099;
    
    border-radius: 10px;
    border: 5px solid #000;

    position: relative;
    outline: 3px solid #ffffff00;
    
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, outline 0.3s ease;
  }

.card:hover {
    cursor: pointer;
    transition-duration: 150ms;
    outline: 3px solid #ffffffb4;
    outline-offset: 6px;
    box-shadow: 0 5px 20px 5px #00000044;
}

.card .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.card-back-text {
    font-family: var(--font-header);
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    top: 10%;
    transform: translateY(-50%);
    left: 0;
    
    /* bottom: 0;
    right: 5px; */
    letter-spacing: 3px;
}

.card-01 {
    background-image: url('/public/images/cardback01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-02 {
    background-image: url('/public/images/cardback02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-03 {
    background-image: url('/public/images/cardback03.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-04 {
    background-image: url('/public/images/cardback04.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-05 {
    background-image: url('/public/images/cardback05.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-06 {
    background-image: url('/public/images/cardback06.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-07 {
    background-image: url('/public/images/cardback07.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-08 {
    background-image: url('/public/images/cardback08.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-09 {
    background-image: url('/public/images/cardback09.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-10 {
    background-image: url('/public/images/cardback10.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-11 {
    background-image: url('/public/images/cardback11.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-12 {
    background-image: url('/public/images/cardback12.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-13 {
    background-image: url('/public/images/cardback13.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-14 {
    background-image: url('/public/images/cardback14.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-15 {
    background-image: url('/public/images/cardback15.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-16 {
    background-image: url('/public/images/cardback16.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-17 {
    background-image: url('/public/images/cardback17.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-18 {
    background-image: url('/public/images/cardback18.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-19 {
    background-image: url('/public/images/cardback19.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-20 {
    background-image: url('/public/images/cardback20.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-21 {
    background-image: url('/public/images/cardback21.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-22 {
    background-image: url('/public/images/cardback22.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-23 {
    background-image: url('/public/images/cardback23.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-24 {
    background-image: url('/public/images/cardback24.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-25 {
    background-image: url('/public/images/cardback25.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-26 {
    background-image: url('/public/images/cardback26.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-27 {
    background-image: url('/public/images/cardback27.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-28 {
    background-image: url('/public/images/cardback28.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-29 {
    background-image: url('/public/images/cardback29.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-30 {
    background-image: url('/public/images/cardback30.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}