h2 {
    margin-top: 0;
}

.hand {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    width: 100vw;
    height: 100%;
/* horizontal gap */
    grid-column-gap: 10px;
/* vertical gap */
    grid-row-gap: 10px;
    padding-inline: 300px;
    margin-top: 25px;
    overflow-y: visible;
}

.hand-content {
    z-index: 1;
    position: relative;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url('/public/images/bg06.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 125px;
    padding-bottom: 125px;
}

.hand-content h1 {
    color: #fff;
    font-size: 4rem;
    font-family: var(--font-header);
    text-transform: uppercase;
    margin-bottom: 55px;
}

.card-container {
    width: fit-content;
    /* min-width: fit-content; */
    height: 300px;
}

.card {
    /* Fit image to width and height */
    width: 225px !important;
    height: 100% !important;
    z-index: 1;
}

.card:hover {
    z-index: 2;
}